{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1 class="title">About Us</h1>
        <p>A dedicated team from UNIRIO focused on inovations and tecnology</p>
    </div>
    <div class="ourgroup">
        <div class="d1">
            <h2>Our Group</h2>
            <p>Our group has been part of the Complex Systems Engineering Laboratory (LabESC) since January 2024, and our goal is to conduct scientific research in order to bring technological innovations.</p>
            <p>We act as a bridge between students interested in research and faculty advisors, facilitating access to scientific initiation opportunities both within and outside the university.</p>
            <p>Our group consists of two undergraduate students from the Information Systems program, one PhD student, and one Master's student, both in the field of technology.</p>
        </div>
        <div class="d2">
            <img src="/static/images/grupo.jpg" alt="imagem do grupo">
        </div>
    </div>
    <div class="our-goals">
        <h2>Our Goals</h2>
        <div class="goals">
            <div class="goal">
                <img src="static/images/mortarboard.png" alt="Scientific Formation">
                <h4>Cientific Formation</h4>
                <p>To empower undergraduate students and researchers in scientific research methodologies and practices, preparing them for academic or professional careers.</p>
            </div>
            <div class="goal">
                <img src="static/images/handshake.png" alt="Integration">
                <h4>Integration</h4>
                <p>To promote integration among students and researchers from different programs and educational levels, creating a multidisciplinary learning environment.</p>
            </div>
            <div class="goal">
                <img src="static/images/research.png" alt="Research output">
                <h4>Research output</h4>
                <p>To increase UNIRIO's scientific output by supporting undergraduate research projects and publishing papers in conferences and journals.</p>
            </div>
        </div>
    </div>
    <div class="members">
        <div class="title">
            <h2>Our Team</h2>
            <p>Meet the dedicated members who make this work possible</p>
        </div>
        <div class="cards">
            <div class="card-full" id="rodrigops">
                <img src="/static/images/rodrigops.jpeg" alt="RodrigoPS" class="image">
                <div class="card">
                    <h4>Rodrigo Santos</h4>
                    <p class="gd">PhD</p>
                    <p class="fd">Research Advisor</p>
                    <p class="useful-links"><strong>Useful links</strong></p>
                    <a class="link1 link" href="">
                        <img class="icon" src="/static/images/linkedin.png" alt="Linkedin Rodrigo">
                        <div class="tooltip">
                            <span class="tooltip-text">Linkedin</span>
                        </div>
                    </a>
                    <a class="link2 link" href="">
                        <img class="icon" src="/static/images/lattes.png" alt="Curriculum Lattes Rodrigo">
                        <div class="tooltip"><span class="tooltip-text">Curriculum Lattes</span></div>
                    </a>
                    <a class="link3 link" href="">
                        <img class="icon" src="/static/images/github.png" alt="GitHub Rodrigo">
                        <div class="tooltip"><span class="tooltip-text">GitHub</span></div>
                    </a>
                </div>
            </div>
            <div class="card-full" id="rodrigo">
                <img src="/static/images/rodrigo.jpeg" alt="Rodrigo" class="image">
                <div class="card">
                    <h4>Rodrigo Zacarias</h4>
                    <p class="gd">PhD Student</p>
                    <p class="fd">Researcher</p>
                    <p class="useful-links"><strong>Useful links</strong></p>
                    <a class="link1 link" href="https://br.linkedin.com/in/rodrigozacarias">
                        <img class="icon" src="/static/images/linkedin.png" alt="Linkedin Rodrigo">
                        <div class="tooltip">
                            <span class="tooltip-text">Linkedin</span>
                        </div>
                    </a>
                    <a class="link2 link" href="http://lattes.cnpq.br/4503161633600385">
                        <img class="icon" src="/static/images/lattes.png" alt="Curriculum Lattes Rodrigo">
                        <div class="tooltip"><span class="tooltip-text">Curriculum Lattes</span></div>
                    </a>
                    <a class="link3 link" href="https://github.com/rodrigozacarias">
                        <img class="icon" src="/static/images/github.png" alt="GitHub Rodrigo">
                        <div class="tooltip"><span class="tooltip-text">GitHub</span></div>
                    </a>
                </div>
            </div>
            <div class="card-full" id="camilo">
                <img src="/static/images/camilo.jpeg" alt="Camilo" class="image">
                <div class="card">
                    <h4 class="nm">Camilo Lima</h4>
                    <p class="gd">Graduation student</p>
                    <p class="fd">FullStack Developer</p>
                    <p class="useful-links"><strong>Useful links</strong></p>
                    <a class="link1 link" href="">
                        <img class="icon" src="/static/images/linkedin.png" alt="Linkedin Camilo">
                        <div class="tooltip">
                            <span class="tooltip-text">Linkedin</span>
                        </div>
                    </a>
                    <a class="link2 link" href="">
                        <img class="icon" src="/static/images/lattes.png" alt="Curriculum Lattes Camilo">
                        <div class="tooltip"><span class="tooltip-text">Curriculum Lattes</span></div>
                    </a>
                    <a class="link3 link" href="">
                        <img class="icon" src="/static/images/github.png" alt="GitHub Camilo">
                        <div class="tooltip"><span class="tooltip-text">GitHub</span></div>
                    </a>
                </div>
            </div>
            <div class="card-full" id="alexandre">
                <img src="/static/images/alexandre.jpeg" alt="Alexandre" class="image">
                <div class="card">
                    <h4>Alexandre Vidal</h4>
                    <p class="gd">Graduation student</p>
                    <p class="fd">FullStack Developer</p>
                    <p class="useful-links"><strong>Useful links</strong></p>
                    <a class="link1 link" href="">
                        <img class="icon" src="/static/images/linkedin.png" alt="Linkedin Alexandre">
                        <div class="tooltip">
                            <span class="tooltip-text">Linkedin</span>
                        </div>
                    </a>
                    <a class="link2 link" href="">
                        <img class="icon" src="/static/images/lattes.png" alt="Curriculum Lattes Alexandre">
                        <div class="tooltip"><span class="tooltip-text">Curriculum Lattes</span></div>
                    </a>
                    <a class="link3 link" href="">
                        <img class="icon" src="/static/images/github.png" alt="GitHub Alexandre">
                        <div class="tooltip"><span class="tooltip-text">GitHub</span></div>
                    </a>
                </div>
            </div>
            <div class="card-full" id="marcus">
                <img src="/static/images/marcus.jpeg" alt="Marcus" class="image">
                <div class="card">
                    <h4>Marcus Moura</h4>
                    <p class="gd">Master student</p>
                    <p class="fd">FullStack Developer</p>
                    <p class="useful-links"><strong>Useful links</strong></p>
                    <a class="link1 link" href="https://www.linkedin.com/in/marcus-ferreira-de-moura-3153ba208?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                        <img class="icon" src="/static/images/linkedin.png" alt="Linkedin Marcus">
                        <div class="tooltip">
                            <span class="tooltip-text">Linkedin</span>
                        </div>
                    </a>
                    <a class="link2 link" href="https://github.com/Marcusfdm">
                        <img class="icon" src="/static/images/lattes.png" alt="Curriculum Lattes Marcus">
                        <div class="tooltip"><span class="tooltip-text">Curriculum Lattes</span></div>
                    </a>
                    <a class="link3 link" href="">
                        <img class="icon" src="/static/images/github.png" alt="GitHub Marcus">
                        <div class="tooltip"><span class="tooltip-text">GitHub</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="info">
                <div class="i">
                    <h4>LabESC</h4>
                    <p>Complex Systems Engineering Laboratory</p>
                </div>
                <div class="i">
                    <h4>Contato</h4>
                    <p>(21) 98765-4321</p>
                    <p>458 Pasteur Avenue, Urca, Rio de Janeiro, Brazil</p>
                </div>
            </div>
            <div class="copy">
                <p>&copy; 2025 UNIRIO. Todos os direitos reservados.</p> 
            </div>
        </div>
    </footer>
</div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/about.js"></script>
{% endblock %}
