{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}

{% block title %}Edit Question Q{{ question.question_id }}{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="back-arrow">⬅︎ Back</a>
<div class="container">
    <div id="questions-section">
        <div class="card">
            <div class="card-header">
                <h4>Edit Question Q{{ question.question_id }}</h4>
            </div>
            <div class="card-body">
                <form action="{{ url_for('update_question', id=question.question_id) }}" method="POST">
                    <div class="mb-3">
                        <textarea class="form-control" name="question" placeholder="Question" rows="4" required>{{ question.question }}</textarea>
                        <div class="mb-3">
                            <h4 class="form-label">Related task</h4>
                            <div class="checkbox-group">
                                {% for t in tasks %}
                                <div class="checkbox-item">
                                    <label for="task_{{ t.task_id }}" title="T{{ t.task_id }}">{{ t.title }}</label>
                                    <input type="checkbox" id="task_{{ t.task_id }}" 
                                            name="task_id" value="{{ t.task_id }}" onclick="handleCheckboxSelection(this)" 
                                            {% if t.task_id == question.task_id %} checked {% endif %}>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-7">
                        <button type="submit" class="btn btn-primary">Add Question</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}