{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/evaluation.css">
{% endblock %}

{% block title %}Evaluations{% endblock %}

{% block content %}
<div class="container">
    <h1>Evaluations</h1>
        {% if evaluations %}
            <div class="card">
                <div class="card-body"></div>
                    {% for e in evaluations %}
                    <a href="{{ url_for('evaluation', id=e.evaluation_id) }}" style="text-decoration: none; color: black;">
                        <div class="eval" id="eval_{{ e.evaluation_id }}">
                            <p id="eval-name">{{ e.name }}</p> 
                            <p id="portal">Portal: {{ e.seco_portal }}</p>
                            <p id="url">{{ e.seco_portal_url }}</p>
                            <p id="pr_label">Processes:</p>
                            <p id="pr">{% for p in e.seco_processes %}P{{ p.seco_process_id }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                        </div>
                    </a>
                    {% endfor %}
                    <a href="{{ url_for('create_evaluation') }}" class="btn btn-evaluation">+</a>
                </div>
            </div>
        {% else %}
            
                <p>You don't have any <span id="eval">evaluations</span>. Create one now!</p>
                <a href="{{ url_for('create_evaluation') }}" class="btn btn-evaluation">+</a>
        {% endif %}
</div>
{% endblock %}