{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Página principal{% endblock %}

{% block content %}
    {% if 'user_signed_in' not in session or session['user_signed_in'] == None %}
    <br><br>
    <header class="header-container">
        <div class="title_container">
            <h1 class="title">Framework de Avaliação de Transparência em Ecossistemas de Software</h1>
            <p class="subtitle">Solução tecnológica para analisar, avaliar e melhorar a transparência em portais de Ecossistemas de Software. Crie uma conta agora para começar uma avaliação em seu portal!</p>
            <div class="btn-section">
                <button class="primary-btn">
                    Conheça o Framework
                </button>
                <button class="secondary-btn">
                    Metodologia
                </button>
            </div>
        </div>
    </header>
        <div class="about-bg">
            <div class="about_container">
                <h2 class="about_title">Sobre o Projeto</h2>
                <hr id="about_hr">
                <div class="about_content">
                    <div class="about_text_container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo, velit nec pretium consequat, tellus libero iaculis erat, vitae porta sapien libero a urna. Nulla facilisi. Integer vel lorem vel ex dapibus euismod.</p>
                        <br>
                        <p>Sed hendrerit, justo ut posuere suscipit, lectus eros volutpat justo, ac pharetra eros erat vel nulla. Etiam malesuada justo sed turpis convallis, et tincidunt odio cursus. Aliquam erat volutpat. Vivamus dictum sem a tortor cursus, sed feugiat metus sagittis.</p>
                        <br>
                        <p>Curabitur eget enim vel odio ultricies cursus. Fusce sollicitudin malesuada lorem, at varius elit placerat vitae. Maecenas gravida, purus sit amet sagittis congue, justo orci fermentum purus, in imperdiet nisi justo in nulla. Praesent ac dignissim lorem.</p>
                    </div>
                    <image style="animation: floating 4s ease-in-out infinite; max-width: 500px; max-height: 500px;" src="{{ url_for('static', filename='images/ilustracao.png') }}"></image>
                </div>
            </div>
        </div>
        <div class="tools_container">
            <h2 class="section_title">Nossas Ferramentas</h2>
            <hr>
            <p style="text-align: center;">Conheça as soluções integradas que compõem o Framework de avaliação de transparência</p>
            <div class="tools_cards_container">
                <div class="tool_card" id="tool_card_1">
                    <image src="{{ url_for('static', filename='images/extensao_ilustracao.png') }}" alt="Extensão de Navegador" style="height:min-content; width: 200px;"></image>
                    <h3>Extensão de Navegador</h3>
                    <p>Extensão de navegador que coleta dados de portais de ecossistemas de software.</p>
                    <button>Saiba mais</button>
                </div>
                <div class="tool_card" id="tool_card_2">
                    <image src="{{ url_for('static', filename='images/dashboard_ilustracao.png') }}" alt="Extensão de Navegador" style="height:min-content; width: 200px;"></image>
                    <h3>Dashboard</h3>
                    <p>Fornece insights podersos sobre os portais analisados utilizando KPI's e um relatório completo da transparência baseado em diretrizes.</p>
                    <button>Saiba mais</button>
                </div>
                <div class="tool_card" id="tool_card_3">
                    <image src="{{ url_for('static', filename='images/uxt_ilustracao.png') }}" alt="Extensão de Navegador" style="height:min-content; width: 200px;"></image>
                    <h3>UX-Tracking</h3>
                    <p>Ferramenta capaz de coletar dados de interação do usuário em tempo real, mapear jornadas do usuário, identificar pontos de interesse e fornecer insights relacionados e Experiência do Usuário em Ambientes Web e Mobile.</p>
                    <button>Saiba mais</button>
                </div>
            </div>
        </div>
        <div class="evaluation_tutorial_container">
            <h2 class="section_title">Como Funciona Uma Avaliação de Transparência em Portais?</h2>
            <hr>
            <p>Aprenda a utilizar nossas ferramentas para avaliar a transparência do seu portal de ecossistema de software.</p>
            <div class="timeline_container">
                <div class="timeline_line"></div> 
                <div class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/info_icon.png') }}"></image></div>
                    <h3>1. Criar avaliação</h3>
                    <p>Após criar uma conta, é possível iniciar uma nova avaliação para o seu portal,
                        selecionando os processos específicos que devem ser testados pelos desenvolvedores. 
                        Para isso, basta fornecer o link para o portal.</p>
                </div>
                <div class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/browse_activity_icon.png') }}"></image></div>
                    <h3>2. Coleta de Dados</h3>
                    <p>
                        Ao criar uma avaliação, um código será gerado para que os desenvolvedores possam participar dela por meio da extensão de navegador.
                        Ela irá registrar as interações dos desenvolvedores com o portal, coletando informações relevantes para a avaliação.</p>
                    </p>
                </div>
                <div class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/monitoring_icon.png') }}"></image></div>
                    <h3>3. Análise dos dados</h3>
                    <p> Acesse o dashboard para explorar os dados coletados, gerar relatórios detalhados e visualizar gráficos de desempenho.
                         Utilize esses insights para entender padrões de uso e identificar pontos de melhoria na transparência do seu portal.</p>
                </div>
                <div class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/check_box_icon.png') }}"></image> </div>
                    <h3>4. Correção</h3>
                    <p>Consulte o relatório gerado, revise as diretrizes de transparência recomendadas e implemente as ações corretivas
                         necessárias para aprimorar seu portal com base nos pontos identificados.</p>
                </div>
            </div>
        </div>
        <div class="demonstracao_container">
            <div class="demonstracao_text_container">
                <h2>Veja a extensão em ação</h2>
                <p>Assista ao vídeo abaixo para ver como a extensão funciona e como ela pode ajudar na avaliação da transparência do seu portal.</p>
                <ul class="custom-list">
                    <li>Desenvolvedor realiza tarefas pré elaboradas para avaliar pontos chave do portal</li>
                    <li>Questionário para avaliar a experiência ao interagir com o portal</li>
                    <li>Após finalizar as tarefas, um questionário da experiência geral no portal deve ser respondido</li>
                </ul>
            </div>
            <video id="demonstracao" controls>
                <source src="video.mp4" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
            </video>
        </div>
        <footer>
            <div class="footer-content">
                <div class="info">
                    <div class="i">
                        <h4>LabESC</h4>
                        <p>Complex Systems Engineering Laboratory</p>
                    </div>
                    <div class="i">
                        <h4>Contato</h4>
                        <p>(21) 98765-4321</p>
                        <p>458 Pasteur Avenue, Urca, Rio de Janeiro, Brazil</p>
                    </div>
                </div>
                <div class="copy">
                    <p>&copy; 2025 UNIRIO. Todos os direitos reservados.</p> 
                </div>
            </div>
        </footer>
    {% else %}
    <br><br><br>
        <h1>Welcome {% if 'user_type' in session and session['user_type'] == 'admin' %}admin {% endif %}{{ username }}!</h1>
        <p>This is the content of the logged home page</p>
        <p>These are the admin accounts</p>
        <ul>
            {% for a in admins %}
                <li> - {{ a.username }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
