{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block title %}Página principal{% endblock %}

{% block content %}
    <br><br>
    <header class="header-container">
        <div class="title_container">
            <h1 data-aos="fade-up" class="title">Transparency Evaluation Framework for Software Ecosystems</h1>
            <p data-aos="slide-up" class="subtitle">A technology solution to analyze, evaluate, and enhance transparency in software ecosystem portals.
                Create an account now to start assessing your portal!</p>
            <div data-aos="zoom-in" class="btn-section">
                <button class="primary-btn">
                    About the Framework
                </button>
                <button class="secondary-btn">
                    Documentation
                </button>
            </div>
        </div>
    </header>
        <div class="about-bg">
            <div class="about_container">
                <h2 class="about_title">About the Project</h2>
                <hr data-aos="flip-left" id="about_hr">
                <div class="about_content">
                    <div class="about_text_container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo, velit nec pretium consequat, tellus libero iaculis erat, vitae porta sapien libero a urna. Nulla facilisi. Integer vel lorem vel ex dapibus euismod.</p>
                        <br>
                        <p>Sed hendrerit, justo ut posuere suscipit, lectus eros volutpat justo, ac pharetra eros erat vel nulla. Etiam malesuada justo sed turpis convallis, et tincidunt odio cursus. Aliquam erat volutpat. Vivamus dictum sem a tortor cursus, sed feugiat metus sagittis.</p>
                        <br>
                        <p>Curabitur eget enim vel odio ultricies cursus. Fusce sollicitudin malesuada lorem, at varius elit placerat vitae. Maecenas gravida, purus sit amet sagittis congue, justo orci fermentum purus, in imperdiet nisi justo in nulla. Praesent ac dignissim lorem.</p>
                    </div>
                    <image style="animation: floating 4s ease-in-out infinite; max-width: 500px; max-height: 500px;" src="{{ url_for('static', filename='images/ilustracao.png') }}"></image>
                </div>
            </div>
        </div>
        <div class="tools_container">
            <h2 class="section_title">Framework Tools</h2>
            <hr>
            <p style="text-align: center;">Discover the integrated solutions that make up the Transparency Assessment Framework.</p>
            <div class="tools_cards_container">
                <div data-aos="fade-up" data-aos-delay="300" class="tool_card" id="tool_card_1">
                    <image src="{{ url_for('static', filename='images/extensao_ilustracao.png') }}" alt="Extensão de Navegador" style="height:min-content; width: 200px;"></image>
                    <h3>Browser Extension</h3>
                    <p>A browser extension that guides developers through tasks, collects interaction data, and captures UX feedback to assess portal transparency.</p>
                    <button>Learn More</button>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="tool_card" id="tool_card_2">
                    <image src="{{ url_for('static', filename='images/dashboard_ilustracao.png') }}" alt="Extensão de Navegador" style="height:min-content; width: 200px;"></image>
                    <h3>Dashboard</h3>
                    <p>Delivers powerful insights into analyzed portals with KPIs and a comprehensive transparency report based on established guidelines.</p>
                    <button>Learn More</button>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" class="tool_card" id="tool_card_3">
                    <image src="{{ url_for('static', filename='images/uxt_ilustracao.png') }}" alt="Extensão de Navegador" style="height:min-content; width: 200px;"></image>
                    <h3>UX-Tracking</h3>
                    <p>A tool that collects real-time user interaction data, maps user journeys, identifies key touchpoints, and delivers valuable UX insights for both web and mobile environments.</p>
                    <button>Learn More</button>
                </div>
            </div>
        </div>
        <div class="evaluation_tutorial_container">
            <h2 class="section_title">How Does a Portal Transparency Evaluation Work?</h2>
            <hr data-aos="flip-left">
            <p>Learn how to use our tools to assess the transparency of your software ecosystem portal.</p>
            <div class="timeline_container">
                <div data-aos="flip-left" data-aos-duration="1000" class="timeline_line"></div> 
                <div data-aos="fade-up" data-aos-delay="500" class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/info_icon.png') }}"></image></div>
                    <h3>1. Create Evaluation</h3>
                    <p>After creating an account, you can start a new assessment for your portal by selecting the specific processes to be tested by developers.
                        All you need to do is provide the link to your portal.</p>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/browse_activity_icon.png') }}"></image></div>
                    <h3>2. Data Collection</h3>
                    <p>
                        When an assessment is created, a code will be generated so developers can join it through the browser extension.
                        The extension will record their interactions with the portal, collecting relevant information for the evaluation.</p>
                    </p>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/monitoring_icon.png') }}"></image></div>
                    <h3>3. Data Analysis</h3>
                    <p> Access the dashboard to explore the collected data, generate detailed reports, and view performance charts.
                        Use these insights to understand usage patterns and identify opportunities to improve your portal’s transparency.</p>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" class="timeline_step">
                    <div class="timeline_circle"> <image src="{{ url_for('static', filename='images/check_box_icon.png') }}"></image> </div>
                    <h3>4. Correction</h3>
                    <p>Review the generated report, go over the recommended transparency guidelines, and implement the necessary corrective actions to enhance your portal based on the identified issues.</p>
                </div>
            </div>
        </div>
        <div class="demonstracao_container">
            <div class="demonstracao_text_container">
                <h2>See the Extension in Action</h2>
                <p>Watch the video below to learn how the extension works and how it can support the transparency assessment of your portal.</p>
                <ul class="custom-list">
                    <li>The developer performs pre-defined tasks to evaluate key areas of the portal</li>
                    <li>A questionnaire is used to assess the experience while interacting with the portal</li>
                    <li>After completing the tasks, a final questionnaire about the overall experience must be filled out</li>
                </ul>
            </div>
            <video id="demonstracao" controls>
                <source src="video.mp4" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
            </video>
        </div>
        <footer>
            <div class="footer-content">
                <div class="info">
                    <div class="i">
                        <h4>LabESC</h4>
                        <p>Complex Systems Engineering Laboratory</p>
                    </div>
                    <div class="i">
                        <h4>Contato</h4>
                        <p>(21) 98765-4321</p>
                        <p>458 Pasteur Avenue, Urca, Rio de Janeiro, Brazil</p>
                    </div>
                </div>
                <div class="copy">
                    <p>&copy; 2025 UNIRIO. Todos os direitos reservados.</p> 
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
{% endblock %}
