{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/sign_in.css">
{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="signin">
    <form class="signinForm" action="{{ url_for('register') }}" method="post">
        <h2 class="signup">Sign up</h2>
        <input type="email" name="email" id="email" placeholder="Type your email">
        <input type="text" name="name" id="name" placeholder="Type your name">
        <input type="password" name="passw" id="passw" placeholder="Type your password">
        <input type="password" name="confpass"  id="confpass" placeholder="Confirm your password">
        <button class="btn btn-submit">Create account</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/sign_up.js"></script>
{% endblock %}
