@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-background: #f4f4f4;
    --cor-principal: #4b66ff;
    --cor-gray: gray;
    --font-weight--info: 500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor-background);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    margin-top: 20px;
}

p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

#eval{
    color: var(--cor-principal);
}

.btn-evaluation{
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-size: 40px;
    width: 110px;
    height: 110px;
    transition: all 0.4s ease;
    border-radius: 20px;
}

.btn-evaluation:hover {
    background-color: var(--cor-principal);
    color: var(--cor-background);
    transform: translateY(-7px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-dash{
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-size: 40px;
    transition: all 0.4s ease;
    border-radius: 20px;
}

.btn-dash:hover{
    background-color: var(--cor-principal);
    color: var(--cor-background);
    transform: translateY(-7px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
    width: 44%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure the card is a positioned container */
}

.card-body {
    width: 100%;
}

.card-body input, textarea {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.btn-primary {
    border: 1px solid var(--cor-1);
    color: var(--cor-2);
    background-color: var(--cor-1);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-primary:hover {
    color: var(--cor-1);
    background-color: var(--cor-2);
}

.checkbox-group {

    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--cor-gray);
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 15px;
}

.form-label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkbox-item {
    display: flex;
    align-items: center;
    background-color: var(--cor-1);
    border-radius: 10px;
    font-weight: bold;
    color: var(--cor-2);
    cursor: pointer;
    padding: 5px 15px;
    margin: 0;
    min-height: 45px;
}

.checkbox-item label {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0;
    accent-color: var(--cor-2);
}

.eval {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin: 10px 0 10px 0;
    width: 770px;
    min-height: 100px;
    max-height: 250px;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--cor-background);
    border: 1px solid var(--cor-background);
    border-radius: 20px;
}

.eval p{
    padding: 10px;
}

.eval:hover{
    border: 1px solid var(--cor-principal);
    background-color: var(--cor-principal);
    color: var(--cor-background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
    cursor: pointer;
}

.eval:active{
    transform: translateY(0px);
    background-color: rgb(151, 166, 255);
}

#eval-name{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 25px;
}

#portal{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    font-weight: var(--font-weight--info);
}

#url{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    font-weight: var(--font-weight--info);
}

#pr_label{
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    font-weight: var(--font-weight--info);
}

#pr{
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    font-weight: var(--font-weight--info);
}

.process-list{
    padding: 15px;
}

.info p{
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    font-weight: var(--font-weight--info);
}

.back-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 30px;
    width: 100px;
    height: 50px;
    text-decoration: none;
    font-size: 18px;
    color: var(--cor-principal);
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.back-arrow:hover {
    transform: scale(1.2);
    color: var(--cor-background);
    background-color: var(--cor-principal);
}

.icon{
    position: absolute; /* Position relative to the card */
    top: 10px; /* Adjust distance from the top */
    right: 10px; /* Adjust distance from the right */
    margin: 0; /* Remove default margin */
    transition: all 0.3s ease;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.icon:hover{
    transform: scale(1.2);
    background-color: var(--cor-principal);
}

.gear{
    background-image: url("/static/images/setting_black.png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.icon:hover .gear{
    background-image: url("/static/images/setting_white.png");
}
