@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-1: rgb(75, 102, 255);
    --cor-2: #f4f4f4;
    --cor-3: rgb(125, 145, 255);
    --cor-4: rgb(43, 74, 255);
    --cor-5: rgb(40, 65, 209);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor-2);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-1);
    color: var(--cor-2);
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.nav-links a {
    display: flex;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--cor-2);
    font-size: 1rem;
    transition: 0.3s;
    border: 1px solid var(--cor-1);
}

.nav-links a:hover{
    background-color: var(--cor-2);
    color: var(--cor-1);
}

.auth-buttons{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--cor-1);
    background-color: var(--cor-2);
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--cor-2);
    color: var(--cor-3);
}

.btn-register {
    background-color: var(--cor-4);
    color: var(--cor-2);
}

.btn-register:hover {
    background-color: var(--cor-5);
}

.logo a {
    text-decoration: none;
    color: var(--cor-2);
}



